<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.1.360" targetFramework="net40" />
  <package id="FubuCore" version="0.9.9.180" targetFramework="net40" />
  <package id="FubuLocalization" version="0.9.5.78" targetFramework="net40" />
  <package id="FubuMVC.Diagnostics" version="0.1.0.64" targetFramework="net40" />
  <package id="FubuMVC.JQueryUI" version="0.5.0.91" targetFramework="net40" />
  <package id="FubuMVC.References" version="0.9.8.1177" targetFramework="net40" />
  <package id="FubuMVC.RegexUrlPolicy" version="1.0.4.0" targetFramework="net40" />
  <package id="FubuMVC.SlickGrid" version="0.0.0.92" targetFramework="net40" />
  <package id="FubuMVC.Spark" version="0.9.8.1177" targetFramework="net40" />
  <package id="FubuMVC.TwitterBootstrap" version="0.0.0.96" targetFramework="net40" />
  <package id="HtmlTags" version="1.1.0.111" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Spark" version="1.7.4.0" targetFramework="net40" />
  <package id="structuremap" version="2.6.4.63" targetFramework="net40" />
  <package id="WebActivator" version="1.5.1" targetFramework="net40" />
</packages>